.link {
    color: var(--color-primary-light);
    text-decoration: none;
    line-height: 1.5;
    /*line-height в px поділити на size в px, тобто 27:18=1.5*/
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-brand-normal);
}